force-app/main/default/flows/Checklist_task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Existing_Task</name>
        <label>Add Existing Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Existing_GeneratedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordType</name>
        <label>Assign_RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checklist_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectionTask</name>
        <label>CollectionTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Field</name>
        <label>Task Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_data.Checklist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_data.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.Checklist_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_data.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.Auto_Generated_Checklist_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionTask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_selection_match_loan_review</name>
        <label>Does the selection match loan review?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Loan_Review_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_data.Loan_Review_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Loan_Review_Details__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Field</targetReference>
            </connector>
            <label>Match Loan Review Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoanReviewPage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Review_Details__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Loan_Review_Details__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Task</targetReference>
            </connector>
            <label>LoanReviewPage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regenerate_Task</name>
        <label>Regenerate Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Task_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Should_Regenerate_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Existing_Task</targetReference>
            </connector>
            <label>Should Regenerate Task?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Checklist_Text</name>
        <dataType>String</dataType>
        <expression>LOWER(SUBSTITUTE({!Fetch_data.Loan_Review_Detail__c}, &quot;,&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>CleanCaseReview</name>
        <dataType>String</dataType>
        <expression>LOWER( SUBSTITUTE (TEXT( $Record.Loan_Review_Details__c),&quot;,&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>Percent_Formula</name>
        <dataType>Number</dataType>
        <expression>IF( {!TotalGeneratedCount} &gt; 0, ROUND( ( {!CompletedCount} / {!TotalGeneratedCount} ) * 100,0),0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RecordName</name>
        <dataType>String</dataType>
        <expression>$Record.RecordType.Name</expression>
    </formulas>
    <interviewLabel>Checklist task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checklist task</label>
    <loops>
        <name>Fetch_data</name>
        <label>Fetch data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Checklist_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_selection_match_loan_review</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checklist_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Checklist_Task</name>
        <label>Checklist Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TaskCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_RecordType</targetReference>
        </connector>
        <inputReference>Existing_GeneratedTasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Checklist_Template</name>
        <label>Checklist Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Checklist_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Task</name>
        <label>Existing Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Regenerate_Task</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_RecordType</name>
        <label>Get_Task_RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_page</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CompletedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Debugging</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Existing_GeneratedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PercentDone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProgressValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Taskforprogress</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tasksprogress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Template_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TotalGeneratedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
