force-app/main/default/flows/Task_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Task_to_Collection</name>
        <label>Add Task to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Field</name>
        <label>Assign_Task_Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Tasks.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_data.Checklist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Tasks.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_data.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Tasks.00NgK00002dILMU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_data.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Tasks.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_selection_match_loan_review</name>
        <label>Does the selection match loan review?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Loan_Review_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_data.Loan_Review_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Loan_Review_Details__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Field</targetReference>
            </connector>
            <label>Match Loan Review Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Template_Found</name>
        <label>No Template Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Templates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ChecklistTemplates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_data</targetReference>
            </connector>
            <label>Has Templates</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Checklist</label>
    <loops>
        <name>Fetch_data</name>
        <label>Fetch data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_ChecklistTemplates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_selection_match_loan_review</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Checklist_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Checklist_Task</name>
        <label>Create Checklist Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ChecklistTemplates</name>
        <label>Get_ChecklistTemplates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Checklist_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Tasks</name>
        <label>Get_Existing_Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Template_Found</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ChecklistTemplates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012gK0000039PgbQAE</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>NewTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
